<h1>All Messages</h1>
<ul>
        {{#each msgs}}
        <li>
            <p>
                {{this.text}}
                <br>
                {{this.user}} {{this.added}}
            </p>
        </li>
        {{/each}}
    </ul>
<a href="/new">Add more</a>