<form action="/api/messages" method="POST">
<label for="text">Text</label>
    <input type="text" name="text" id="text">
    <label for="user">User</label>
    <input type="text" name="user" id="user">
    <button type="submit">submit</button>
    
    <a href="/api/messages">Visit API</a>
</form>