@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root{
  --box-shadow-color: rgba(215, 199, 199, 0.3);
}
body{
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.menu-container{
  border-radius: 5px;
  height: auto;
  text-align: center;
  line-height: 35px;
  width: 100%;
  padding: 1rem;
  box-shadow: 5px 5px 5px var(--box-shadow-color);
}
.cards-container{
  display: grid;
  margin-top: 10px;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  grid-template-rows: repeat(3, minmax(150px, 1fr));
  gap: 16px;
  
}
.menu-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(147, 225, 225);
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}