@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root{
  --title-color: rgb(90, 169, 50);
  --thin-gray: rgba(0, 0, 0, 0.1);
  --shadow-color: rgba(138, 53, 73, 0.39);
}
body{
  min-height: 100vh;
  display: grid;
  justify-content: center;  
}
nav > ul{
  display: flex;
  gap: 15px;
  padding: 1rem;
  justify-content: space-between;
}
a{
  text-decoration: none;
  margin-left: 10px;
  color: rgb(202, 156, 86);
  font-weight: 800;
  transition: color .2s ease-in;
}
a:hover{
  color: rgba(161, 135, 97, 0.7);
}
li{
  list-style-type: none;
  
}
#title{
  color: var(--title-color);
  border-bottom: 1px solid var(--thin-gray);
  margin-bottom: 5px;
}

.container{
  display: grid;
  width: 70vw;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 3px var(--shadow-color);
  
  height: 600px;
}

.msg-container{

  max-height: 400px;
  overflow-y: auto;
  
}
.msg-container::-webkit-scrollbar{
  width: 4px;
  border-radius: 5px;
}
.msg-container::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0.7);
}
.msg-container::-webkit-scrollbar-thumb {
  background: #c2a0a0;
}
.msg-container::-webkit-scrollbar-thumb:hover {
  background: rgb(91, 58, 58)0a0;
}

.msg-info{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 5px;
  margin: 3px;
  border: 1px solid rgb(211, 196, 196);
  align-items: flex-start;
}
.msg-description{
  text-align: start;
  width: 30ch;
}
.msg-username{
  text-align: end;
}
.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 350px;
  width: 350px;
  margin-top: 10px;
  border: 1px solid var(--thin-gray);
  border-radius: 5px;
  padding: 1rem;
}
.login-form > label{
  margin-bottom: 1rem;
}
.login-form > input{
  border: none;
  background-color: #f9f6f6;
  width: 250px;
  padding: 15px 25px;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.register-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 350px;
  margin-top: 10px;
  border: 1px solid var(--thin-gray);
  border-radius: 5px;
  padding: 1rem;
}
.register-form > label{
  margin-bottom: 1rem;
}
.register-form > input{
  border: none;
  background-color: #f9f6f6;
  width: 250px;
  padding: 15px 25px;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.btn-register{
  border: none;
  padding: 10px 10px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #ede4e4;
  border-radius: 5px;
  transition: background-color .2s ease-in;
}
.btn-register:hover{
  background-color: #d1c6c6;
}
.btn-login{
  border: none;
  padding: 10px 10px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #ede4e4;
  border-radius: 5px;
  transition: background-color .2s ease-in;
}
.btn-login:hover{
  background-color: #d1c6c6;
}
.msg-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  border: 1px solid var(--thin-gray);
  border-radius: 5px;
  padding: .5rem 1rem;
}
.msg-form > input{
  border: none;
  background-color: #f9f6f6;
  padding: 5px 10px;
  border-radius: 5px;
}
.btn-submit{
  border: none;
  padding: 10px 10px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #ede4e4;
  border-radius: 5px;
  transition: background-color .2s ease-in
}
.btn-submit:hover{
  background-color: #d1c6c6;
}

@media (max-width: 578px){
  body{
    padding: 1rem;
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    height: 80vh;
    width: 370px;
  }
  .msg-description{
    width: 15ch;
  }
}