@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root{
  --background: #000000;
  --text-color: #D0D1D2;
  --shining-white: rgb(255, 255, 255);
  --input-text: #6E7378;
  --user-text: #E7E9EA;
  --btn-background-disabled: #0F4E78;
  --btn-background: #1D9BF0;
  --btn-background-hover: #4ea1d8;
  --border-outline: #6E7378;
   /*New Styles*/
  --btn-disabled-text: #7D7F80;
  --title-color: rgb(90, 169, 50);
  --thin-gray: rgba(0, 0, 0, 0.1);
  --shadow-color: rgba(138, 53, 73, 0.39);
}
#root{
  display: flex;
  padding: 1rem;
  position: relative;
}
body{
  justify-content: center; 
  background-color: var(--background);
  color: var(--text-color);
}
h2{
  font-size: 16px;
  color: var(--user-text);
}
.title{
  color: var(--user-text)
}
nav > ul{
  display: flex;
  position: sticky;
  flex-direction: column;
  padding: 1rem;
}
nav > ul > li{
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 10ch;
  padding-bottom: 15px;
  text-align: center;
}
.user-nav{
  display: flex;
  gap: 10px;
  font-weight: 800;
  align-items: center;
  justify-content: center;
}
a{
  text-decoration: none;
  margin-left: 10px;
  color: var(--input-text);
  font-weight: 800;
  transition: color .2s ease-in;
}
a:hover{
  color: var(--text-color);
}
li{
  list-style-type: none;
  
}
#title{
  color: var(--title-color);
  border-bottom: 1px solid var(--thin-gray);
  margin-bottom: 5px;
}

.container{
  display: grid;
  width: 100%;
  border-radius: 5px;
 /*  box-shadow: 5px 5px 5px 3px var(--shadow-color); */
  justify-content: center;
  height: 100vh;
  overflow-x: scroll;
}
.container::-webkit-scrollbar {
  width: 0.5rem; /* Adjust the width as needed */
}

.container::-webkit-scrollbar-thumb {
  background: transparent; /* Hide the thumb */
}

.container::-webkit-scrollbar-track {
  background: transparent; /* Hide the track */
}
.msg-container{
  width: 100%;
}
.msg-info{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 16px;
  max-height: 35vh;
  width: 100%;
  /* border: 1px solid rgb(211, 196, 196); */
  border-top: 1px solid var(--border-outline);
  align-items: flex-start;
}
.msg{
  font-size: 12px;
 
}
.msg-description{
  overflow-y: auto; 
  max-height: 35vh;  
  
  text-align: start;
  word-wrap: normal;
  word-break: break-word;
}
.msg-description > div > h2{
  max-width: 45ch;
}
.msg-description > div{
  display: flex;
  align-items: center;
}
.msg-username{
  text-align: end;
}
.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 350px;
  width: 350px;
  margin-top: 10px;
  border: 1px solid var(--thin-gray);
  border-radius: 5px;
  padding: 1rem;
}
.login-form > label{
  margin-bottom: 1rem;
}
.login-form > input{
  border: none;
  background-color: #f9f6f6;
  width: 250px;
  padding: 15px 25px;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.register-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 350px;
  margin-top: 10px;
  border: 1px solid var(--thin-gray);
  border-radius: 5px;
  padding: 1rem;
}
.register-form > label{
  margin-bottom: 1rem;
}
.register-form > input{
  border: none;
  background-color: #f9f6f6;
  width: 250px;
  padding: 15px 25px;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.password-error{
  font-size: 10px;
  color: rgb(196, 49, 49);  
}
.btn-register{
  border: none;
  padding: 10px 10px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #ede4e4;
  border-radius: 5px;
  transition: background-color .2s ease-in;
}
.btn-register:hover{
  background-color: #d1c6c6;
}
.btn-login{
  border: none;
  padding: 10px 10px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #ede4e4;
  border-radius: 5px;
  transition: background-color .2s ease-in;
}
.btn-login:hover{
  background-color: #d1c6c6;
}
.msg-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  height: 225px;
  margin-bottom: 26px;
  justify-content: space-between;
}
#post-btn{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
#post-btn > p{
  font-size: 12px;
  color: var(--text-color);
}
#msg-title{
  font-size: 18px;
  /* border-bottom: 1px solid var(--border-outline); */
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  color: var(--user-text);
  
}
#description{
  color: var(--user-text);
  overflow-y: hidden;
}
.msg-form :nth-child(1){
  display: flex;
  flex-direction: column;
  
}
textarea{
  resize: none;
  height: 100px;
  margin-bottom: 15px;
}
.submit-input{
  
  background-color: var(--background);
  border: none;
  
  max-width: 100%;
}
.submit-input:focus-visible{
  color: var(--input-text);
  background-color: var(--background);
  border: none;
  outline: none;
}
.btn-submit{
  background-color: var(--btn-background);
  color: var(--shining-white);
  padding: 10px 15px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.btn-submit:hover{
  background-color: var(--btn-background-hover);
}
.btn-submit:disabled{
  background-color: var(--btn-background-disabled);
  color: var(--input-text);
}

.success-page{
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 35px;
}
.success-circle{
  background-color: #74AD46;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EEF1EB;
  font-weight: 800;
  font-size: 24px;
  animation: bounceIn 1s ease;
}
.success-text{
  opacity: 0;
  animation: success .7s ease-in forwards;
}
.profile{
  min-width: 100%;
  min-height: 200px;
  
}
.profile figure img{
  position: absolute;
  bottom: 0px;
  left: 15px;
  border-radius: 5px;
  height: 133px;
  width: 133px;
}

.profile-section{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-background{
  width: 100%;
  height: 160px;
  background-image: url('/background.jpg');
  background-repeat: repeat;
  
}
.profile > article{
  display: flex;
  flex-direction: column;
}

.all-user-msg{
  display: flex;
  flex-direction: column;
  gap: 15px; 
  padding: 1rem;
  width: 100%;
  max-height: 90vh;
  overflow-y: scroll;
}
.all-user-msg::-webkit-scrollbar {
  width: 0.5rem; /* Adjust the width as needed */
}

.all-user-msg::-webkit-scrollbar-thumb {
  background: transparent; /* Hide the thumb */
}

.all-user-msg::-webkit-scrollbar-track {
  background: transparent; /* Hide the track */
}
.all-user-msg > li{
  
  border-bottom: 1px solid var(--border-outline);
  width: 100%;
  padding-bottom: 16px;
  
  font-size: 12px;
}


@keyframes success {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  80%{
    opacity: 0.8;
  }
  100%{
    opacity: 1;
  }
}
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.bounce-in {
  animation: bounceIn 1s ease;
}

