@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --background: #000000;
  --text-color: #d0d1d2;
  --shining-white: rgb(255, 255, 255);
  --input-text: #6e7378;
  --user-text: #e7e9ea;
  --btn-background-disabled: #0f4e78;
  --btn-background: #1d9bf0;
  --btn-background-hover: #3678a5;
  --border-outline: #6e7378;
  /*New Styles*/ /* 
  --btn-disabled-text: #7D7F80;
  --title-color: rgb(90, 169, 50);
  --thin-gray: rgba(0, 0, 0, 0.1);
  --shadow-color: rgba(138, 53, 73, 0.39); */
}
#root {
  display: flex;
  position: relative;
}
body {
  justify-content: center;
  background-color: var(--background);
  color: var(--text-color);
}
h2 {
  font-size: 16px;
  color: var(--user-text);
}
.title {
  color: var(--user-text);
}
nav {
  text-align: center;
}
nav > ul {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
nav > ul > li {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 10ch;
  padding-bottom: 15px;
  text-align: center;
}
.user-nav {
  display: flex;
  gap: 10px;
  font-weight: 800;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
  margin-left: 10px;
  color: var(--input-text);
  font-weight: 800;
  transition: color 0.2s ease-in;
}
a:hover {
  color: var(--text-color);
}
li {
  list-style-type: none;
}
#title {
  color: var(--title-color);
  border-bottom: 1px solid var(--thin-gray);
  margin-bottom: 5px;
}
.no-logged {
  font-size: 32px;
  color: var(--btn-background-hover);
  margin-bottom: 16px;
  padding: 1rem;
}
.container {
  display: grid;
  width: 100%;
  border-radius: 5px;
  /*  box-shadow: 5px 5px 5px 3px var(--shadow-color); */
  justify-content: center;
  height: 100vh;
  overflow-x: scroll;
}
.container::-webkit-scrollbar {
  width: 0.5rem; /* Adjust the width as needed */
}

.container::-webkit-scrollbar-thumb {
  background: transparent; /* Hide the thumb */
}

.container::-webkit-scrollbar-track {
  background: transparent; /* Hide the track */
}
.msg-container {
  width: 100%;
}
.msg-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 16px;
  /* max-height: 35vh; */
  width: 100%;
  gap: 15px;
  align-items: center;
  border-top: 1px solid var(--border-outline);
  align-items: flex-start;
}
.msg {
  font-size: 12px;
}
.msg-msg{
  display: flex;
  flex-direction: column;
}
.date{
  font-size: 8px;
  font-weight: 500;
  margin-bottom: 5px;
  color: var(--border-outline);
}
.msg-description {
  /* overflow-y: auto;
  max-height: 35vh; */
  flex-grow: 1;
  text-align: start;
  word-wrap: normal;
  word-break: break-word;
}
.msg-image{
  height: auto;
  border-radius: 5px;
  margin: 10px 0;
  max-width: 230px;
  display: flex;
  justify-content: center;
  background-color: white;
}
.msg-image-container{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.msg-description > div > h2 {
  max-width: 30ch;
}
.msg-description > div {
  display: flex;
 
 
}
.msg-username {
  text-align: end;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 350px;
  width: 350px;
  margin-top: 10px;
  border: 1px solid var(--thin-gray);
  border-radius: 5px;
  padding: 1rem;
}
.login-form > label {
  margin-bottom: 1rem;
}
.login-form > input {
  border: none;
  background-color: #f9f6f6;
  width: 250px;
  padding: 15px 25px;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  margin-top: 10px;
  border: 1px solid var(--thin-gray);
  border-radius: 5px;
  padding: 1rem;
}
.register-form > label {
  margin-bottom: 1rem;
}
.register-form > input {
  border: none;
  background-color: #f9f6f6;
  width: 250px;
  padding: 15px 25px;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.register-error {
  font-size: 10px;
  color: rgb(170, 95, 95);
  margin-bottom: 16px;
}
.btn-register {
  border: none;
  padding: 10px 10px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #ede4e4;
  border-radius: 5px;
  transition: background-color 0.2s ease-in;
}
.btn-register:hover {
  background-color: #d1c6c6;
}
.btn-login {
  border: none;
  padding: 10px 10px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #ede4e4;
  border-radius: 5px;
  transition: background-color 0.2s ease-in;
}
.btn-login:hover {
  background-color: #d1c6c6;
}
.msg-form {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  padding: 1rem;
  
  margin-bottom: 26px;
  /* height: 250px; */
  justify-content: space-between;
 
  
}
.post-img{
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.letter-count{
  width: 10ch;
}
#postImgInput{
  display: none;
}
.post-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.post-btn > p {
  font-size: 12px;
  color: var(--text-color);
}
#msg-title {
  font-size: 18px;
  /* border-bottom: 1px solid var(--border-outline); */
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  color: var(--user-text);
}
#description {
  color: var(--user-text);
  overflow-y: hidden;
}
.msg-form :nth-child(1) {
  display: flex;
  flex-direction: column;
}
textarea {
  resize: none;
  height: 100px;
  margin-bottom: 15px;
}
.submit-input {
  background-color: var(--background);
  border: none;

  max-width: 100%;
}
.submit-input:focus-visible {
  color: var(--input-text);
  background-color: var(--background);
  border: none;
  outline: none;
}
.btn-submit {
  background-color: var(--btn-background);
  color: var(--shining-white);
  font-weight: 800;
  padding: 10px 15px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.btn-submit:hover {
  background-color: var(--btn-background-hover);
}
.btn-submit:disabled {
  background-color: var(--btn-background-disabled);
  color: var(--input-text);
}
.form-section {
  display: flex;
  justify-content: center;
  width: 100%;
}
.success-page {
  display: grid;
  justify-content: center;
  width: 100%;
  text-align: center;
  gap: 35px;
}
.success-circle {
  background-color: var(--background);
  outline: 1px solid white;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eef1eb;
  font-weight: 800;
  font-size: 24px;
  animation: bounceIn 1s ease;
}
.success-text {
  opacity: 0;
  animation: success 0.7s ease-in forwards;
}
.profile {
  min-width: 100%;
  min-height: 200px;
}
.profile-user-pic img {
  position: absolute;
  bottom: 0px;
  left: 15px;
  border-radius: 5px;
  height: 133px;
  width: 133px;
}

.profile-section {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-background {
  width: 100%;
  height: 160px;
  background-image: url("/background.jpg");
  background-repeat: repeat;
}
.profile > article {
  display: flex;
  flex-direction: column;
}

.all-user-msg {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 1rem;
  width: 100%;
  max-height: 90vh;
  overflow-y: scroll;
}
.all-user-msg::-webkit-scrollbar {
  width: 0.5rem; /* Adjust the width as needed */
}

.all-user-msg::-webkit-scrollbar-thumb {
  background: transparent; /* Hide the thumb */
}

.all-user-msg::-webkit-scrollbar-track {
  background: transparent; /* Hide the track */
}
.all-user-msg > li {
  border-bottom: 1px solid var(--border-outline);
  width: 100%;
  padding-bottom: 16px;

  font-size: 12px;
}

.join-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  width: 370px;
  padding: 1rem;
  line-height: 80px;
}
.join-section h2 {
  font-size: 24px;
  font-weight: 800;
  width: 30ch;
}
.join-section p {
  font-size: 20px;
  font-weight: 800;
}
.join-btn-register {
  background-color: var(--btn-background);
  color: var(--shining-white);
  padding: 10px 15px;
  border-radius: 15px;
  font-weight: 800;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.join-btn-register:hover {
  background-color: var(--btn-background-hover);
}
.join-btn-login {
  background-color: var(--background);
  color: var(--shining-white);
  font-weight: 800;
  padding: 10px 15px;
  border-radius: 15px;
  border: none;
  outline: 1px solid white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.join-btn-login:hover {
  background-color: rgba(54, 121, 165, 0.26);
}
.join-register,
.join-login {
  display: grid;
}
.page-logo {
  width: 124px;
  height: 124px;
}
.profile-pic{
  border-radius: 100%;
  width: 45px;
  height: 45px;
  background-color: #f2f2f2;
}
.nav-logo{
  width: 80px;
}
#user-pic{
  display: none;
}
.profile-msg-pic{
  flex-shrink: 1;
}
.profile-msg-form {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  padding-bottom: 15px;
  justify-content: space-between;
}
.sameUser:hover{
  opacity: 0.3;
  cursor: pointer;
}

@keyframes success {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.bounce-in {
  animation: bounceIn 1s ease;
}
.loading-screen{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.loading-screen img{
  width: 240px;
  height: auto;
}
.upload-container{
  /* position: relative; */
  /* max-width: 230px; */
  display: flex;
  justify-content: start;
}
.upload-container > div{
  position: relative;
}
.upload-img{
  height: auto;
  border-radius: 5px;
  margin: 10px 0;
  width: 230px;
  display: flex;
  justify-content: center;
  background-color: white;
}
.remove-upload-img{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: -5px;
  border: none;
  background-color: #124466;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-weight: 800;
  color: var(--text-color);
}
@media (max-width: 550px) {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #root {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  nav{
    height: 90px;
  }
  nav > ul {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
  }
  .container {
    width: 100%;
  }
  .profile-msg-form {
    flex-wrap: wrap;
  }
  .msg-description > div{
    gap: 5px;
    
  }
  .msg-description > div a{
    display: flex;
    margin: 0;
  }
  .msg-description > div > h2 {
    max-width: 18ch;
  }
  .msg-image{
    max-width: 230px;
  }
}
