@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  padding: 1rem;
  min-width: 100%;
  min-height: 100vh;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: black;
}

.nav{
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  
}
.nav-list{
  display: flex;
  gap: 16px;
}
.nav > ul > li{
  width: 100%;
}
.nav-btn{
 
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s ease-in;
  position: absolute;
  top: 0;
  right: 0;
}


.btn{
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s ease-in-out;
}
.btn:hover{
  opacity: 0.6;
}

.product-img{
  min-width: 140px;
  min-height: 150px;
  max-width: 140px;
  max-height: 150px;
}
.product{
  display: flex;
  gap: 15px;
  align-items: center;
}
.add-phone{
  display: grid;
  place-content: center;
  
}

.userForm{
  display: flex;
  flex-direction: column;
  gap: 7px;
  min-width: 378px;
}

.userForm > input{
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgb(148, 127, 127);
}