<h1 class="text-center mb-3">{{title}}</h1>
<h4>Members</h4>
<form action="/api/members" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Enter the name">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" placeholder="mail@mail.com">
    <button type="submit">Submit</button>
</form>
<ul class="list-group">
    {{#each members}}
    <li class="list-item">{{this.name}}:{{this.email}}</li>
    {{/each}}
</ul>
<a href="/api/members">Visit API</a>